.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #2c2c2c;
}
b {
  font-weight: 600;
}
p {
  margin: 10px 0; /* between paragraphs */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
:root {
  --corner-size: 15%;
}
.project img {
  -webkit-clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 6%
  );
  width: 80px;
  height: 80px;
  /* filter: grayscale(1);
  opacity: 80%; */
  /* border: 2px solid grey; */
  clip-path: polygon(
    var(--corner-size) 0,
    calc(100% - var(--corner-size)) 0,
    100% var(--corner-size),
    100% calc(100% - var(--corner-size)),
    calc(100% - var(--corner-size)) 100%,
    var(--corner-size) 100%,
    0 calc(100% - var(--corner-size)),
    0 var(--corner-size)
  );
}
h2 {
  font-family: Computer Modern Serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-weight: 400;
  margin: 0;
}
.project {
  display: flex;
  margin: 20px 0;
}
.description {
  padding: 0 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url("https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Mono&family=Lora:wght@400;600&family=Nunito&family=Public+Sans:wght@300&family=Source+Sans+Pro:wght@400;600;700&display=swap");

.mjx-chtml {
  outline: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Neuro {
  font-family: EB Garamond;
  background-color: #fbf9f6;
}
.Neuro p {
  /* color: #015e63; */
  font-family: georgia;
  line-height: 1.8em;
  font-size: 0.9em;
}
